@model RegisterViewModel
<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css"/>
</head>
<div class="container">
	<section id="content">
        <form asp-controller="Auth" asp-action="Register" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <h1>Register</h1>
            <div class="block">
                <label>Username</label>
                <input asp-for="Username" class="input" placeholder="Username"/>
                <span asp-validation-for="Username"></span>
            </div>
            <div class="block">
                <label>Password</label>
                <input asp-for="Password" class="input" placeholder="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="block">
                <label>Password</label>
                <input asp-for="ConfirmPassword" class="input" placeholder="ConfirmPassword"/>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="block">
                <input type="submit" value="Sign up" />
            </div>
            <div>
                <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl"
               class="switch-button">Login</a>
            </div>
        </form>
    </section>
</div>